/*
    Colors
*/
$primary-color: #4eaf4e;
$background1: #fff;
$background2: #e5e5e5;
$font-color: #404040;

html {
    font-size: 20px;

    /*font-family: "Montserrat", "sans serif";*/
    color: #404040;

    @media (max-width: 764px) {
        font-size: 16px;

    }
}

body {

    .main-header {
        .main-cont {
            .brand-icon {
                width: 127px;
            }
        }
    }
}